<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Tasks</title>
  </head>
  <body>
    <h2>All Tasks</h2>

    <% @tasks.each do |t| %>
      <div>
        <h3>
          <a href="tasks/id/<%= t.id %>"><%= t.name %></a>
        </h3>
        <ul>
          <p>by, <a href="/users/<%= t.user.slug %>"><b><em><%= t.user.username %></em></b></a> -- does this on, <b><em><%= t.which_days? %></em></b></p>
        </ul>
      </div>
    <% end %>

  </body>
</html>
