<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @task.name %></title>
  </head>
  <body>
    <h2><%= @task.name %></h2>

    <div>
      <h4>What it was like last time:</h4><br>
      <p><%= @task.effect %></p>
    </div></br>

    <div>
      <h4>Probably a good thing to do on:</h4><br>
      <% @task.days.each do |d| %>
        <a href="/users/<%= @user.slug %>/tasks/<%= d.name %>"><%= d.name.capitalize %></a><br>
      <% end %></br>
    </div>

    <% if current_user == @task.user && logged_in? %>
      <a href="/users/<%= @task.user.slug %>/tasks/id/<%= @task.id %>/edit">Edit</a>
      <form action="tasks/id/<%= @task.id %>/delete" method="post">
        <input type="submit" value="Delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
      </form>
    <% end %>

  </body>
</html>
