<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @task.name %></title>
  </head>
  <body>
    <h2><%= @task.name %></h2>
    <p><%= @task.effect %></p>
    <p><%= @task.day.split(", ").map{|d| d.capitalize}.join(", ") %></p>

    <% if current_user == @task.user %>
      <a href="/users/<%= @task.user.slug %>/tasks/id/<%= @task.id %>/edit">Edit</a>
    <% end %>

  </body>
</html>
