<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @user.username %></title>
  </head>
  <body>
    <h1><%= @user.username %></h1>

    <table>
      <tr>
        <th>
          <a href="/users/<%= @user.slug %>/tasks/sunday">Sunday</a><br>
        </th>
        <th>
          <a href="/users/<%= @user.slug %>/tasks/monday">Monday</a><br>
        </th>
        <th>
          <a href="/users/<%= @user.slug %>/tasks/tuesday">Tuesday</a><br>
        </th>
        <th>
          <a href="/users/<%= @user.slug %>/tasks/wednesday">Wednesday</a><br>
        </th>
        <th>
          <a href="/users/<%= @user.slug %>/tasks/thursday">Thursday</a><br>
        </th>
        <th>
          <a href="/users/<%= @user.slug %>/tasks/friday">Friday</a><br>
        </th>
        <th>
          <a href="/users/<%= @user.slug %>/tasks/saturday">Saturday</a><br>
        </th>
      </tr>
      <tr>
        <td>
          <ul>
            <% @user.day("sunday").each do |t| %>
              <a href="tasks/id/<%= t.id %>"><%= t.name %></a><br>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% @user.day("monday").each do |t| %>
              <a href="tasks/id/<%= t.id %>"><%= t.name %></a><br>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% @user.day("tuesday").each do |t| %>
              <a href="tasks/id/<%= t.id %>"><%= t.name %></a><br>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% @user.day("wednesday").each do |t| %>
              <a href="tasks/id/<%= t.id %>"><%= t.name %></a><br>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% @user.day("thursday").each do |t| %>
              <a href="tasks/id/<%= t.id %>"><%= t.name %></a><br>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% @user.day("friday").each do |t| %>
              <a href="tasks/id/<%= t.id %>"><%= t.name %></a><br>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% @user.day("saturday").each do |t| %>
              <a href="tasks/id/<%= t.id %>"><%= t.name %></a><br>
            <% end %>
          </ul>
        </td>

      </tr>
    </table>



  </body>
</html>
