<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @user.username %></title>
  </head>
  <body>
    <h1><%= @user.username %></h1>

    <a href="/users/<%= @user.slug %>/tasks/sunday">Sunday</a>
    <a href="/users/<%= @user.slug %>/tasks/monday">Monday</a>
    <a href="/users/<%= @user.slug %>/tasks/tuesday">Tuesday</a>
    <a href="/users/<%= @user.slug %>/tasks/wednesday">Wednesday</a>
    <a href="/users/<%= @user.slug %>/tasks/thursday">Thursday</a>
    <a href="/users/<%= @user.slug %>/tasks/friday">Friday</a>
    <a href="/users/<%= @user.slug %>/tasks/saturday">Saturday</a>

  </body>
</html>
