<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @day.name.capitalize %></title>
  </head>
  <body>
    <h2>Things that might be awesome to do this <%= @day.name.capitalize %></h2>

    <% if @tasks_of_the_day.empty? %>
      <h4>Maybe <%= @day.name.capitalize %> is perfect the way it is?</h4>
    <% end %>

    <table>
      <% @tasks_of_the_day.each do |t| %>
        <tr>
          <td>
            <form class="" action="/tasks/id/<%= t.id %>" method="get">
              <input type="submit" value="<%= t.name %>">
            </form>
          </td>
          <td>
            <% if current_user == t.user && logged_in? %>
              <form action="/tasks/id/<%= t.id %>/edit" method="get">
                <input type="submit" value="Edit">
              </form>
            <% end %>
          </td>
          <td>
            <% if current_user == t.user && logged_in? %>
              <form action="tasks/id/<%= t.id %>/delete" method="post">
                <input type="submit" value="Delete">
                <input id="hidden" type="hidden" name="_method" value="delete">
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>

    </table>

    <form action="/tasks/new" method="get">
      <input type="submit" name="<%= @day.name %>" value="New <%= @day.name.capitalize %> Task">
    </form>

  </body>
</html>
